* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#animation {
    margin: 50px;
    width: 567px;
    height: 567px;
    z-index: -1;
    border: ridge 2px black;
    border-radius: 284px;
    position: absolute;
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 50px -30px #000000;
}


#horloge {
    margin: 50px;
    width: 567px;
    height: 567px;
    border: ridge 10px palevioletred;
    background-image: url(../img/uploads.siteduzero.com_files_163001_164000_163059.png);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 284px;
    z-index: -1;
}

#heures {
    position: absolute;
    bottom: 273px;
    left: 268px;
    transform-origin: bottom center;
}

#minutes {
    position: absolute;
    bottom: 273px;
    left: 268px;
    transform-origin: bottom center;
}

#secondes {
    position: absolute;
    bottom: 273px;
    left: 268px;
    transform-origin: bottom center;
}

#point {
    position: absolute;
    bottom: 263px;
    left: 268px;
    width: 2.5%;
    height: 2.5%;
    background-color: black;
    transform-origin: bottom center;
    border-radius: 20px;
}

#changeClock {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#defaut {
    background-image: url(../img/uploads.siteduzero.com_files_163001_164000_163059.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    border: ridge 3px black;
    border-radius: 10px;
    margin: 2px;
}

#ios {
    background-image: url(../img/téléchargement.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    border: ridge 3px black;
    border-radius: 10px;
    margin: 2px;
}

#changeClock:hover {
    cursor: pointer;
}

#change {
    margin-top: 50px;
    width: 400px;
    border: ridge 4px firebrick;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#color {
    margin: 20px;
}