* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#horloge {
    width: 567px;
    height: 567px;
    border: ridge 10px palevioletred;
    margin-top: 100px;
    background-image: url(../img/uploads.siteduzero.com_files_163001_164000_163059.png);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 284px;
}

#heures {
    position: absolute;
    bottom: 273px;
    left: 268px;
    transform-origin: bottom center;
}

#minutes {
    position: absolute;
    bottom: 273px;
    left: 268px;
    transform-origin: bottom center;
}

#secondes {
    position: absolute;
    bottom: 273px;
    left: 268px;
    transform-origin: bottom center;
}

#point {
    position: absolute;
    bottom: 263px;
    left: 268px;
    width: 2.5%;
    height: 2.5%;
    background-color: black;
    transform-origin: bottom center;
    border-radius: 20px;
}